@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    max-width: 100%;
    overflow: hidden;
}
.main{
    position: relative;
}
.container-fluid{
    width: 100%;
}
.container{
    margin:auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.d-flex{
    display: flex;
}
.pb-2{
    padding-bottom: 2rem;
}
.w-100{
    width: 100%;
}
.color-primary{
    background-color: #2b3647;
    color: White;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 2px 3px 4px #979899;
}
.menu{
    display: flex;
}
.col-white{
    color: white;
}
.menu li a{
    padding: 12px;
    color: white;
}
.close{
    background-color: red;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    width: 30vw;
    height: 60vh;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 4px 5px #bbbbbb;
}
.sidebar{
    position: fixed;
    width: 18rem;
    height: 100%;
    background-color: #3c4b63;
}
.sidebar-menu li{
    border-bottom: 1px solid white;
    padding: 15px;
}
.sidebar-links{
    color: wheat;
    display: flex;
    justify-content: space-between;
}

.sidebar-links:hover .dropdown-menu{
    display: block;
}
.footer{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0 );
}
.main{
    margin-left: 15%;
    width: 100%;
    position: absolute;
    margin-top: 20px;
}
.main-button{
    padding: 4px;
    margin: 12px 30px;
}
table {
    margin: 15px 30px; 
    border-collapse: collapse;
    width: 80%;
    overflow: scroll;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.3rem;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }